In [2]:
#notebook to be used for cleaning and organizing data
%matplotlib notebook 
#can use inline if we prefer

In [3]:
import matplotlib.pyplot as plt
import pandas as pd

#pull and read rankings
rankings_excel = 'HighSchool_100_Rankings.xlsx'
rankings = pd.read_excel(rankings_excel)
#rankings.head() - test worked

#pull and read team data
team_excel = 'Team_Data.xlsx'
team = pd.read_excel(team_excel)
del team['Hometown']
#team.head() - test worked

In [4]:
#split hometown into two columns, rename and add back into rankings
hometown_split = rankings['Hometown'].str.split(', ',expand=True)
rankings['City'] = hometown_split[0]
rankings['State'] = hometown_split[1]
del rankings['Hometown']
rankings.head()

   Year  RSCI      Player Name Position         College         City State
0  2018     1     R.J. Barrett       SF            Duke    Montverde    FL
1  2018     2  Cameron Reddish       SG            Duke   Norristown    PA
2  2018     3    Nassir Little       SF  North Carolina      Orlando    FL
3  2018     4  Zion Williamson       PF            Duke  Spartanburg    SC
4  2018     5   Romeo Langford       SG         Indiana   New Albany    IN

In [54]:
#school data counts
schools = rankings.groupby('College')
schools_count = schools['College'].count()
schools_count.sort_values(ascending=False).head()

College
Kentucky          57
Duke              49
Kansas            37
North Carolina    36
UCLA              35
Name: College, dtype: int64

In [75]:
#team percent of year
year = rankings.groupby('Year')
rankings_year = year['Year'].count()
rankings_year

Year
2006     99
2007    100
2008    101
2009     99
2010    100
2011    100
2012    100
2013    101
2014    100
2015    100
2016    101
2017    100
2018    101
Name: Year, dtype: int64

In [76]:
#team count of year
school_year = rankings.groupby('College')['Year'].value_counts()
school_year.sort_values(ascending=False).head()

College         Year
Kentucky        2017    8
North Carolina  2006    6
Kentucky        2013    6
Duke            2017    6
                2011    6
Name: Year, dtype: int64

In [96]:
school_year_percent = (school_year / rankings_year)*100
school_year_percent['Kentucky']

Year
2017    8.000000
2013    5.940594
2009    5.050505
2010    5.000000
2016    4.950495
2018    4.950495
2011    4.000000
2012    4.000000
2014    4.000000
2015    4.000000
2006    3.030303
2007    2.000000
2008    1.980198
Name: Year, dtype: float64

In [83]:
#team percent of total
school_percent = (schools_count / len(rankings))*100
school_percent.sort_values(ascending=False).head()

College
Kentucky          4.377880
Duke              3.763441
Kansas            2.841782
North Carolina    2.764977
UCLA              2.688172
Name: College, dtype: float64

In [49]:
#school state count - shows how many were taken by each school per state
school_state = rankings.groupby('College')['State'].value_counts()
school_state.head()

College  State
Akron    PA        1
Alabama  AL       10
         GA        4
         FL        1
         KS        1
Name: State, dtype: int64

In [88]:
#team state percent of same team total
school_state_percent = (school_state / schools_count)*100
school_state_percent.head()
#to call a specific team use ['Team Name']

#team_df = pd.DataFrame({'Team Count': schools_count,'School_percent': school_percent,'Team State': team_state,'% of Team from State': team_state_percent})
#team_df

College  State
Akron    PA       100.000000
Alabama  AL        52.631579
         GA        21.052632
         FL         5.263158
         KS         5.263158
dtype: float64

In [95]:
count_per_school = (school_state / schools_count)
# count_per_school_str = count_per_school.str
# count_per_school.str.format('hi')

f'{0.5267:%}'

'52.670000%'

In [11]:
#positions count
position = rankings.groupby('Position')
position_count = position['Position'].count()
position_count.sort_values(ascending=False)

Position
PF    306
SG    301
SF    265
PG    227
C     188
CG     10
CF      5
Name: Position, dtype: int64

In [85]:
#position percent of total
position_percent = (position_count / len(rankings))*100
position_percent.sort_values(ascending=False)

Position
PF    23.502304
SG    23.118280
SF    20.353303
PG    17.434716
C     14.439324
CG     0.768049
CF     0.384025
Name: Position, dtype: float64

In [101]:
#position count of year
position_count_year = rankings.groupby('Position')['Year'].value_counts()
position_count_year.head()

Position  Year
C         2006    19
          2008    19
          2012    17
          2015    17
          2017    17
Name: Year, dtype: int64

In [100]:
#percentage of position in a given year
position_percent_year = (position_count_year/rankings_year)*100
position_percent_year.head()

Position  Year
C         2006    19.191919
          2008    18.811881
          2012    17.000000
          2015    17.000000
          2017    17.000000
Name: Year, dtype: float64

In [13]:
#state count
state = rankings.groupby('State')
state_count = state['State'].count()
state_count.sort_values(ascending=False).head()

State
CA    139
TX     94
GA     79
FL     72
VA     70
Name: State, dtype: int64

In [110]:
#state percent of total
state_percent = state_count / len(rankings)
state_percent.sort_values(ascending=False).head()

State
CA    0.106759
TX    0.072197
GA    0.060676
FL    0.055300
VA    0.053763
Name: State, dtype: float64

In [114]:
#count by state in a given year
state_year = rankings.groupby('Year')['State'].value_counts()
state_year.head()

Year  State
2006  CA       14
      TX        8
      NJ        7
      TN        7
      VA        6
Name: State, dtype: int64

In [116]:
#state percent in a given year
state_percent_year = state_year / rankings_year
state_percent_year.head()

Year  State
2006  CA       0.141414
      TX       0.080808
      NJ       0.070707
      TN       0.070707
      VA       0.060606
dtype: float64

In [53]:
#state count by team
state_count_team = rankings.groupby('State')['College'].value_counts()
state_count_team.head()

State  College
AL     Alabama          10
       Indiana           3
       Kentucky          2
       Connecticut       1
       Florida State     1
Name: College, dtype: int64

In [115]:
#city count
city = rankings.groupby('City')
city_count = city['City'].count()
city_count.sort_values(ascending=False).head()

City
Chicago            30
Mouth of Wilson    24
Memphis            19
Indianapolis       18
Henderson          17
Name: City, dtype: int64

In [44]:
#team freshman count by year
#team freshman/sophmore count by year
#team upperclassmen count by year
#team ranking in top 100 count by year
#team ranking in top 100 total
#team occurrences final four
#team occurrences championships