In [2]:
#notebook to be used for cleaning and organizing data
%matplotlib notebook 
#can use inline if we prefer

In [3]:
import matplotlib.pyplot as plt
import pandas as pd

#pull and read rankings
rankings_excel = 'HighSchool_100_Rankings.xlsx'
rankings = pd.read_excel(rankings_excel)
#rankings.head() - test worked

#pull and read team data
team_excel = 'Team_Data.xlsx'
team = pd.read_excel(team_excel)
del team['Hometown']
#team.head() - test worked

In [4]:
#split hometown into two columns, rename and add back into rankings
hometown_split = rankings['Hometown'].str.split(', ',expand=True)
rankings['City'] = hometown_split[0]
rankings['State'] = hometown_split[1]
del rankings['Hometown']
rankings.head()

   Year  RSCI      Player Name Position         College         City State
0  2018     1     R.J. Barrett       SF            Duke    Montverde    FL
1  2018     2  Cameron Reddish       SG            Duke   Norristown    PA
2  2018     3    Nassir Little       SF  North Carolina      Orlando    FL
3  2018     4  Zion Williamson       PF            Duke  Spartanburg    SC
4  2018     5   Romeo Langford       SG         Indiana   New Albany    IN

In [15]:
#school data counts
schools = rankings.groupby('College')
schools_count = schools['College'].count()
schools_count.sort_values(ascending=False).head()

College
Kentucky          57
Duke              49
Kansas            37
North Carolina    36
UCLA              35
Name: College, dtype: int64

In [20]:
#team percent of total
school_percent = schools_count / len(rankings)
school_percent.sort_values(ascending=False).head()
#team percent of year
#team count of year
school

College
Kentucky          0.043779
Duke              0.037634
Kansas            0.028418
North Carolina    0.027650
UCLA              0.026882
Name: College, dtype: float64

In [46]:
#school state count - shows how many were taken by each school per state
school_state = rankings.groupby('College')['State'].value_counts()
school_state

College           State
Akron             PA          1
Alabama           AL         10
                  GA          4
                  FL          1
                  KS          1
                  LA          1
                  MS          1
                  VA          1
Arizona           CA         17
                  AZ          3
                  NV          3
                  PA          3
                  FL          1
                  GA          1
                  MA          1
                  MD          1
                  NJ          1
                  NY          1
                  TX          1
                  UT          1
                  VA          1
Arizona State     CA          3
                  AZ          1
                  FL          1
                  Finland     1
                  GA          1
                  NC          1
                  NH          1
                  TX          1
                  WA          1
                             ..
Washington        MO          1
                  NY          1
                  OR          1
Washington State  CA          1
West Virginia     OH          4
                  NY          2
                  WV          2
                  CT          1
                  IL          1
                  MD          1
                  NJ          1
                  PA          1
Western Kentucky  LA          2
                  KY          1
                  NJ          1
Wisconsin         WI          5
                  MN          3
                  IA          1
Xavier            CA          2
                  IN          2
                  OH          2
                  VA          2
                  FL          1
                  KY          1
                  NH          1
class of 2016     Canada      1
prep school       CA          1
                  Canada      1
                  FL          1
                  NY          1
Name: State, Length: 668, dtype: int64

In [47]:
#team state percent of same team total
school_state_percent = school_state / schools_count
school_state_percent
#to call a specific team use ['Team Name']

#team_df = pd.DataFrame({'Team Count': schools_count,'School_percent': school_percent,'Team State': team_state,'% of Team from State': team_state_percent})
#team_df

College           State
Akron             PA         1.000000
Alabama           AL         0.526316
                  GA         0.210526
                  FL         0.052632
                  KS         0.052632
                  LA         0.052632
                  MS         0.052632
                  VA         0.052632
Arizona           CA         0.485714
                  AZ         0.085714
                  NV         0.085714
                  PA         0.085714
                  FL         0.028571
                  GA         0.028571
                  MA         0.028571
                  MD         0.028571
                  NJ         0.028571
                  NY         0.028571
                  TX         0.028571
                  UT         0.028571
                  VA         0.028571
Arizona State     CA         0.272727
                  AZ         0.090909
                  FL         0.090909
                  Finland    0.090909
                  GA         0.090909
                  NC         0.090909
                  NH         0.090909
                  TX         0.090909
                  WA         0.090909
                               ...
Washington        MO         0.052632
                  NY         0.052632
                  OR         0.052632
Washington State  CA         1.000000
West Virginia     OH         0.307692
                  NY         0.153846
                  WV         0.153846
                  CT         0.076923
                  IL         0.076923
                  MD         0.076923
                  NJ         0.076923
                  PA         0.076923
Western Kentucky  LA         0.500000
                  KY         0.250000
                  NJ         0.250000
Wisconsin         WI         0.555556
                  MN         0.333333
                  IA         0.111111
Xavier            CA         0.181818
                  IN         0.181818
                  OH         0.181818
                  VA         0.181818
                  FL         0.090909
                  KY         0.090909
                  NH         0.090909
class of 2016     Canada     1.000000
prep school       CA         0.250000
                  Canada     0.250000
                  FL         0.250000
                  NY         0.250000
Length: 668, dtype: float64

In [11]:
#positions count
position = rankings.groupby('Position')
position_count = position['Position'].count()
position_count.sort_values(ascending=False)

Position
PF    306
SG    301
SF    265
PG    227
C     188
CG     10
CF      5
Name: Position, dtype: int64

In [29]:
#position percent of total
position_percent = position_count / len(rankings)
position_percent.sort_values(ascending=False)

Position
PF    0.235023
SG    0.231183
SF    0.203533
PG    0.174347
C     0.144393
CG    0.007680
CF    0.003840
Name: Position, dtype: float64

In [45]:
#position count of year
position_count_year = rankings.groupby('Position')['Year'].value_counts()
position_count_year

Position  Year
C         2006    19
          2008    19
          2012    17
          2015    17
          2017    17
          2009    15
          2010    14
          2016    14
          2011    13
          2007    12
          2013    12
          2014    11
          2018     8
CF        2018     5
CG        2018    10
PF        2009    33
          2007    32
          2008    30
          2006    24
          2013    24
          2016    23
          2012    22
          2014    21
          2015    21
          2010    20
          2018    20
          2011    18
          2017    18
PG        2013    26
          2016    25
                  ..
          2007    15
          2009    13
          2018    13
          2008    11
SF        2012    26
          2010    24
          2014    24
          2017    22
          2011    21
          2018    21
          2007    19
          2008    19
          2013    19
          2009    18
          2016    18
          2006    17
          2015    17
SG        2011    30
          2015    29
          2017    26
          2014    24
          2018    24
          2006    23
          2010    23
          2007    22
          2008    22
          2016    21
          2009    20
          2013    20
          2012    17
Name: Year, Length: 67, dtype: int64

In [13]:
#state count
state = rankings.groupby('State')
state_count = state['State'].count()
state_count.sort_values(ascending=False).head()

State
CA    139
TX     94
GA     79
FL     72
VA     70
Name: State, dtype: int64

In [33]:
#state percent of total
state_percent = state_count / len(rankings)
state_percent.sort_values(ascending=False).head()
#state percent of year

State      College
AL         Alabama            10
           Indiana             3
           Kentucky            2
           Connecticut         1
           Florida State       1
           LSU                 1
           Michigan State      1
           Minnesota           1
           Oklahoma State      1
           Purdue              1
           Virginia            1
AN         Gonzaga             1
AR         Arkansas            4
           Kentucky            2
           Cincinnati          1
           Florida             1
           Oklahoma State      1
AUS        LSU                 1
AZ         Arizona             3
           Arizona State       1
           San Diego State     1
           Stanford            1
Australia  Connecticut         1
BC         Maryland            1
CA         UCLA               21
           Arizona            17
           USC                11
           California          9
           Oregon              7
           Stanford            6
                              ..
WA         Colorado            1
           LSU                 1
           Oregon              1
           Oregon State        1
           Stanford            1
           Texas               1
WI         Marquette           8
           Wisconsin           5
           Iowa State          2
           Indiana             1
           Kentucky            1
           Louisville          1
           Maryland            1
           Michigan            1
           Michigan State      1
           North Carolina      1
           Oregon              1
           UCLA                1
WS         Marquette           1
WV         Indiana             2
           West Virginia       2
           Florida             1
           Gonzaga             1
           Kentucky            1
           Louisville          1
           Michigan State      1
           Oregon              1
           Providence          1
           Seton Hall          1
WY         Wake Forest         1
Name: College, Length: 668, dtype: int64

In [34]:
#state count by team
state_count_team = rankings.groupby('State')['College'].value_counts()
state_count_team

State      College
AL         Alabama            10
           Indiana             3
           Kentucky            2
           Connecticut         1
           Florida State       1
           LSU                 1
           Michigan State      1
           Minnesota           1
           Oklahoma State      1
           Purdue              1
           Virginia            1
AN         Gonzaga             1
AR         Arkansas            4
           Kentucky            2
           Cincinnati          1
           Florida             1
           Oklahoma State      1
AUS        LSU                 1
AZ         Arizona             3
           Arizona State       1
           San Diego State     1
           Stanford            1
Australia  Connecticut         1
BC         Maryland            1
CA         UCLA               21
           Arizona            17
           USC                11
           California          9
           Oregon              7
           Stanford            6
                              ..
WA         Colorado            1
           LSU                 1
           Oregon              1
           Oregon State        1
           Stanford            1
           Texas               1
WI         Marquette           8
           Wisconsin           5
           Iowa State          2
           Indiana             1
           Kentucky            1
           Louisville          1
           Maryland            1
           Michigan            1
           Michigan State      1
           North Carolina      1
           Oregon              1
           UCLA                1
WS         Marquette           1
WV         Indiana             2
           West Virginia       2
           Florida             1
           Gonzaga             1
           Kentucky            1
           Louisville          1
           Michigan State      1
           Oregon              1
           Providence          1
           Seton Hall          1
WY         Wake Forest         1
Name: College, Length: 668, dtype: int64

In [115]:
#city count
city = rankings.groupby('City')
city_count = city['City'].count()
city_count.sort_values(ascending=False).head()

City
Chicago            30
Mouth of Wilson    24
Memphis            19
Indianapolis       18
Henderson          17
Name: City, dtype: int64

In [44]:
#team freshman count by year
#team freshman/sophmore count by year
#team upperclassmen count by year
#team ranking in top 100 count by year
#team ranking in top 100 total
#team occurrences final four
#team occurrences championships