In [2]:
#notebook to be used for cleaning and organizing data
%matplotlib notebook 
#can use inline if we prefer

In [3]:
import matplotlib.pyplot as plt
import pandas as pd

#pull and read rankings
rankings_excel = 'HighSchool_100_Rankings.xlsx'
rankings = pd.read_excel(rankings_excel)
#rankings.head() - test worked

#pull and read team data
team_excel = 'Team_Data.xlsx'
team = pd.read_excel(team_excel)
del team['Hometown']
#team.head() - test worked

In [4]:
#split hometown into two columns, rename and add back into rankings
hometown_split = rankings['Hometown'].str.split(', ',expand=True)
rankings['City'] = hometown_split[0]
rankings['State'] = hometown_split[1]
del rankings['Hometown']
rankings.head()

   Year  RSCI      Player Name Position         College         City State
0  2018     1     R.J. Barrett       SF            Duke    Montverde    FL
1  2018     2  Cameron Reddish       SG            Duke   Norristown    PA
2  2018     3    Nassir Little       SF  North Carolina      Orlando    FL
3  2018     4  Zion Williamson       PF            Duke  Spartanburg    SC
4  2018     5   Romeo Langford       SG         Indiana   New Albany    IN

In [5]:
#school data counts
schools = rankings.groupby('College')
schools_count = schools['College'].count()
schools_count.sort_values(ascending=False).head()

College
Kentucky          57
Duke              49
Kansas            37
North Carolina    36
UCLA              35
Name: College, dtype: int64

In [6]:
#team percent of year
year = rankings.groupby('Year')
rankings_year = year['Year'].count()
rankings_year

Year
2006     99
2007    100
2008    101
2009     99
2010    100
2011    100
2012    100
2013    101
2014    100
2015    100
2016    101
2017    100
2018    101
Name: Year, dtype: int64

In [7]:
#team count of year
school_year = rankings.groupby('College')['Year'].value_counts()
school_year.sort_values(ascending=False).head()

College         Year
Kentucky        2017    8
North Carolina  2006    6
Kentucky        2013    6
Duke            2017    6
                2011    6
Name: Year, dtype: int64

In [8]:
#percent of recruits that went to a given college in a given year
school_year_percent = (school_year / rankings_year)*100
school_year_percent.head()

College  Year
Akron    2009    1.010101
Alabama  2011    3.000000
         2017    3.000000
         2007    2.000000
         2008    1.980198
Name: Year, dtype: float64

In [9]:
#team percent of total
school_percent = (schools_count / len(rankings))*100
school_percent.sort_values(ascending=False).head()

College
Kentucky          4.377880
Duke              3.763441
Kansas            2.841782
North Carolina    2.764977
UCLA              2.688172
Name: College, dtype: float64

In [10]:
#school state count - shows how many were taken by each school per state
school_state = rankings.groupby('College')['State'].value_counts()
school_state.head()

College  State
Akron    PA        1
Alabama  AL       10
         GA        4
         FL        1
         KS        1
Name: State, dtype: int64

In [11]:
#team state percent of same team total
school_state_percent = (school_state / schools_count)*100
school_state_percent.head()
#to call a specific team use ['Team Name']

College  State
Akron    PA       100.000000
Alabama  AL        52.631579
         GA        21.052632
         FL         5.263158
         KS         5.263158
dtype: float64

In [12]:
#positions count
position = rankings.groupby('Position')
position_count = position['Position'].count()
position_count.sort_values(ascending=False)

Position
PF    306
SG    301
SF    265
PG    227
C     188
CG     10
CF      5
Name: Position, dtype: int64

In [13]:
#position percent of total
position_percent = (position_count / len(rankings))*100
position_percent.sort_values(ascending=False)

Position
PF    23.502304
SG    23.118280
SF    20.353303
PG    17.434716
C     14.439324
CG     0.768049
CF     0.384025
Name: Position, dtype: float64

In [14]:
#position count of year
position_count_year = rankings.groupby('Position')['Year'].value_counts()
position_count_year.head()

Position  Year
C         2006    19
          2008    19
          2012    17
          2015    17
          2017    17
Name: Year, dtype: int64

In [15]:
#percentage of position in a given year
position_percent_year = (position_count_year/rankings_year)*100
position_percent_year.head()

Position  Year
C         2006    19.191919
          2008    18.811881
          2012    17.000000
          2015    17.000000
          2017    17.000000
Name: Year, dtype: float64

In [16]:
#position by state - do certain states produce more of the same position?
position_state = rankings.groupby('State')['Position'].value_counts()
position_state

State      Position
AL         SG           9
           C            5
           PF           4
           PG           3
           SF           2
AN         PF           1
AR         SG           4
           PF           2
           SF           2
           C            1
AUS        PF           1
AZ         C            2
           SG           2
           PF           1
           PG           1
Australia  PF           1
BC         PF           1
CA         PF          36
           SF          31
           SG          31
           PG          21
           C           18
           CF           1
           CG           1
CO         SF           2
           C            1
           PF           1
           SG           1
CT         PF           4
           PG           4
                       ..
Turkey     C            1
UT         PF           4
           PG           3
           SF           3
           C            2
VA         PF          18
           SF          18
           SG          17
           PG          11
           C            6
VT         PF           2
           SG           1
WA         SG           9
           SF           5
           PG           3
           C            2
           PF           2
           CG           1
WI         SF           6
           SG           6
           PG           5
           C            4
           PF           3
WS         PF           1
WV         PF           3
           PG           3
           SF           3
           C            2
           SG           1
WY         PF           1
Name: Position, Length: 227, dtype: int64

In [17]:
#state count
state = rankings.groupby('State')
state_count = state['State'].count()
state_count.sort_values(ascending=False).head()

State
CA    139
TX     94
GA     79
FL     72
VA     70
Name: State, dtype: int64

In [18]:
#state percent of total
state_percent = (state_count / len(rankings))*100
state_percent.sort_values(ascending=False).head()

State
CA    10.675883
TX     7.219662
GA     6.067588
FL     5.529954
VA     5.376344
Name: State, dtype: float64

In [19]:
#count by state in a given year
state_year = rankings.groupby('Year')['State'].value_counts()
state_year.head()

Year  State
2006  CA       14
      TX        8
      NJ        7
      TN        7
      VA        6
Name: State, dtype: int64

In [20]:
#state percent in a given year
state_percent_year = state_year / rankings_year
state_percent_year.head()

Year  State
2006  CA       0.141414
      TX       0.080808
      NJ       0.070707
      TN       0.070707
      VA       0.060606
dtype: float64

In [21]:
#state count by team
state_count_team = rankings.groupby('State')['College'].value_counts()
state_count_team.head()

State  College
AL     Alabama          10
       Indiana           3
       Kentucky          2
       Connecticut       1
       Florida State     1
Name: College, dtype: int64

In [22]:
#city count
city = rankings.groupby('City')
city_count = city['City'].count()
city_count.sort_values(ascending=False).head()

City
Chicago            30
Mouth of Wilson    24
Memphis            19
Indianapolis       18
Henderson          17
Name: City, dtype: int64

In [23]:
#position by school - do schools target particular positions in the top 100 more than others?
position_college = rankings.groupby('College')['Position'].value_counts()
position_college

College           Position
Akron             C           1
Alabama           SG          8
                  SF          4
                  PG          3
                  PF          2
                  C           1
                  CG          1
Arizona           SG          9
                  C           7
                  PF          7
                  SF          6
                  PG          5
                  CG          1
Arizona State     SG          5
                  PF          2
                  SF          2
                  C           1
                  PG          1
Arkansas          C           4
                  PG          4
                  PF          3
                  SG          2
                  SF          1
Auburn            PF          3
                  SF          3
                  PG          2
                  SG          1
BYU               PF          2
                  PG          2
                  C           1
                             ..
Wake Forest       PG          3
                  SG          2
                  CF          1
Washington        SG          8
                  PF          5
                  SF          3
                  PG          2
                  C           1
Washington State  SF          1
West Virginia     PF          6
                  PG          3
                  SF          2
                  C           1
                  SG          1
Western Kentucky  C           2
                  SF          1
                  SG          1
Wisconsin         C           2
                  PF          2
                  PG          2
                  SG          2
                  SF          1
Xavier            PG          4
                  SF          4
                  C           1
                  PF          1
                  SG          1
class of 2016     C           1
prep school       PF          3
                  PG          1
Name: Position, Length: 412, dtype: int64

In [24]:
#position by school by state - do schools target particular positions from certain states in the top 100 more than others?
position_college_state = rankings.groupby(['College','Position'])['State'].value_counts()
position_college_state

College           Position  State
Akron             C         PA        1
Alabama           C         AL        1
                  CG        LA        1
                  PF        AL        2
                  PG        AL        2
                            KS        1
                  SF        AL        1
                            GA        1
                            MS        1
                            VA        1
                  SG        AL        4
                            GA        3
                            FL        1
Arizona           C         CA        4
                            AZ        1
                            FL        1
                            MA        1
                  CG        CA        1
                  PF        CA        4
                            NJ        1
                            NV        1
                            VA        1
                  PG        CA        3
                            GA        1
                            PA        1
                  SF        CA        3
                            NV        1
                            PA        1
                            UT        1
                  SG        AZ        2
                                     ..
West Virginia     PG        IL        1
                            NY        1
                            WV        1
                  SF        CT        1
                            NJ        1
                  SG        PA        1
Western Kentucky  C         KY        1
                            LA        1
                  SF        LA        1
                  SG        NJ        1
Wisconsin         C         MN        1
                            WI        1
                  PF        MN        2
                  PG        WI        2
                  SF        WI        1
                  SG        IA        1
                            WI        1
Xavier            C         OH        1
                  PF        FL        1
                  PG        CA        2
                            KY        1
                            NH        1
                  SF        IN        2
                            VA        2
                  SG        OH        1
class of 2016     C         Canada    1
prep school       PF        CA        1
                            Canada    1
                            NY        1
                  PG        FL        1
Name: State, Length: 1025, dtype: int64

In [25]:
#team data, reprinting for ease
team.head()

,Player,Team,Year,Class,Pos,RSCI Top 100,Pts.,National Title Winner
0,Morris Peterson,Michigan State,2000,SR,F,NaN,16.8,Yes
1,Charlie Bell,Michigan State,2000,JR,G,NaN,11.5,Yes
2,Andre Hutson,Michigan State,2000,JR,F,NaN,10.2,Yes
3,A.J. Granger,Michigan State,2000,SR,F,NaN,9.5,Yes
4,Mateen Cleaves,Michigan State,2000,SR,G,NaN,12.1,Yes

In [26]:
#Team Data/Class makeup by year
year_team_grade = team.groupby(['Year','Team'])['Class'].value_counts()
year_team_grade

Year  Team            Class
2000  Florida         FR       3
                      SO       3
                      JR       1
                      SR       1
      Michigan State  JR       3
                      SR       3
                      FR       2
      North Carolina  FR       2
                      JR       2
                      SO       2
                      SR       1
      Wisconsin       JR       5
                      SR       2
                      SO       1
2001  Arizona         SO       3
                      SR       3
                      JR       2
      Duke            SO       4
                      SR       2
                      FR       1
                      JR       1
      Maryland        JR       4
                      SO       2
                      SR       2
      Michigan State  SR       4
                      FR       2
                      SO       2
2002  Indiana         JR       3
                      SO       2
                      SR       2
                              ..
2017  South Carolina  FR       2
2018  Kansas          SO       3
                      FR       2
                      SR       2
                      JR       1
      Loyola Chicago  SR       3
                      FR       2
                      JR       2
                      SO       1
      Michigan        FR       2
                      JR       2
                      SO       2
                      SR       2
      Villanova       JR       4
                      FR       3
                      SO       1
2019  Auburn          JR       4
                      SR       3
                      SO       1
      Michigan State  JR       4
                      SR       2
                      FR       1
                      SO       1
      Texas Tech      SR       4
                      SO       3
                      FR       1
      Virginia        JR       4
                      SO       2
                      FR       1
                      SR       1
Name: Class, Length: 284, dtype: int64

In [27]:
#total grades in tournament
grade = team.groupby('Class').count()
grade

#team upperclassmen count by year
#team ranking in top 100 total

       Player  Team  Year  Pos  RSCI Top 100  Pts.  National Title Winner
Class
FR        126   126   126  126            90   126                    124
JR        193   193   193  193           107   193                    189
SO        157   157   157  157           106   157                    152
SR        164   164   164  164            62   164                    159

In [28]:
#total number of players in the tourney over the years of our data
print(f'The Database has {len(team)} players')

The Database has 641 players

In [29]:
#count of grade/class in each year
grade_year = team.groupby('Year')['Class'].value_counts()
grade_year

Year  Class
2000  JR       11
      FR        7
      SR        7
      SO        6
2001  SO       11
      SR       11
      JR        7
      FR        3
2002  JR       13
      SR        9
      FR        5
      SO        4
2003  SO       12
      JR       10
      FR        6
      SR        4
2004  JR       12
      SR        9
      SO        8
      FR        3
2005  SR       13
      JR       12
      FR        4
      SO        3
2006  FR       11
      SO        9
      SR        7
      JR        5
2007  JR       12
      FR        8
               ..
2012  SR        7
      FR        6
2013  JR        9
      SO        9
      FR        8
      SR        6
2014  FR       10
      SO        8
      SR        8
      JR        6
2015  FR       10
      SO        8
      JR        7
      SR        7
2016  SR       11
      JR        8
      FR        7
      SO        6
2017  JR       10
      SR       10
      SO        7
      FR        6
2018  FR        9
      JR        9
      SO        7
      SR        7
2019  JR       12
      SR       10
      SO        7
      FR        3
Name: Class, Length: 80, dtype: int64

In [30]:
#team occurrences final four
team_finalfour = team.groupby('Team').count()/8
team_finalfour

,Player,Year,Class,Pos,RSCI Top 100,Pts.,National Title Winner
Team,,,,,,,
Arizona,1.000,1.000,1.000,1.000,0.625,1.000,1.000
Auburn,1.000,1.000,1.000,1.000,0.375,1.000,1.000
Butler,2.000,2.000,2.000,2.000,0.000,2.000,2.000
Duke,4.000,4.000,4.000,4.000,3.375,4.000,4.000
Florida,4.000,4.000,4.000,4.000,2.500,4.000,4.000
George Mason,1.000,1.000,1.000,1.000,0.000,1.000,1.000
Georgetown,1.000,1.000,1.000,1.000,0.375,1.000,1.000
Georgia Tech,1.000,1.000,1.000,1.000,0.625,1.000,1.000
Gonzaga,1.000,1.000,1.000,1.000,0.500,1.000,1.000
Illinios,1.000,1.000,1.000,1.000,0.750,1.000,1.000
Indiana,1.000,1.000,1.000,1.000,0.500,1.000,1.000
Kansas,5.000,5.000,5.000,5.000,3.875,5.000,5.000
Kentucky,4.000,4.000,4.000,4.000,3.875,4.000,4.000
LSU,1.000,1.000,1.000,1.000,0.375,1.000,1.000
Louisville,3.000,3.000,3.000,3.000,1.875,3.000,3.000
Loyola Chicago,1.000,1.000,1.000,1.000,0.000,1.000,1.000
Marquette,1.000,1.000,1.000,1.000,0.500,1.000,1.000
Maryland,1.875,1.875,1.875,1.875,0.875,1.875,1.875
Memphis,1.000,1.000,1.000,1.000,0.750,1.000,1.000
Michigan,1.000,1.000,1.000,1.000,0.500,1.000,1.000
Michigan,1.000,1.000,1.000,1.000,0.375,1.000,1.000
Michigan State,7.000,7.000,7.000,7.000,4.500,7.000,7.000
North Carolina,6.125,6.125,6.000,6.000,5.125,6.125,6.125
Ohio State,2.000,2.000,2.000,2.000,1.250,2.000,2.000
Oklahoma,2.000,2.000,2.000,2.000,0.125,2.000,2.000
Oklahoma State,1.000,1.000,1.000,1.000,0.125,1.000,1.000
Oregon,1.000,1.000,1.000,1.000,0.375,1.000,1.000
South Carolina,1.000,1.000,1.000,1.000,0.250,1.000,1.000
Syracuse,3.000,3.000,3.000,3.000,2.250,3.000,3.000
Texas,1.000,1.000,1.000,1.000,0.625,1.000,1.000
Texas Tech,1.000,1.000,1.000,1.000,0.125,1.000,0.000
UCLA,3.000,3.000,3.000,3.000,1.750,3.000,3.000
UConn,3.000,3.000,3.000,3.000,2.000,3.000,3.000
Uconn,1.000,1.000,1.000,1.000,0.875,1.000,1.000
VCU,1.125,1.125,1.125,1.125,0.125,1.125,1.125
Villanova,3.000,3.000,3.000,3.000,2.000,3.000,3.000
Virginia,1.000,1.000,1.000,1.000,0.625,1.000,0.000
West Virginia,1.000,1.000,1.000,1.000,0.375,1.000,1.000
Wichita State,1.000,1.000,1.000,1.000,0.000,1.000,1.000
Wisconsin,3.000,3.000,3.000,3.000,0.500,3.000,3.000

In [37]:
year_final_four_top100 = team.groupby(['Year'])['RSCI Top 100'].count()
year_final_four_top100

Year
2000    11
2001    17
2002    16
2003    19
2004    20
2005    25
2006    12
2007    18
2008    26
2009    24
2010    18
2011    14
2012    21
2013    14
2014    19
2015    22
2016    23
2017    17
2018    15
2019    14
Name: RSCI Top 100, dtype: int64

In [32]:
#top 100 players on teams in a given year
year_team_ranking_count = team.groupby(['Year','Team'])['RSCI Top 100'].count()
year_team_ranking_count

Year  Team
2000  Florida           6
      Michigan State    2
      North Carolina    3
      Wisconsin         0
2001  Arizona           5
      Duke              5
      Maryland          3
      Michigan State    4
2002  Indiana           4
      Kansas            7
      Maryland          4
      Oklahoma          1
2003  Kansas            5
      Marquette         4
      Syracuse          5
      Texas             5
2004  Duke              7
      Georgia Tech      5
      Oklahoma State    1
      Uconn             7
2005  Illinios          6
      Louisville        5
      Michigan State    7
      North Carolina    7
2006  Florida           4
      George Mason      0
      LSU               3
      UCLA              5
2007  Florida           5
      Georgetown        3
                       ..
2012  Louisville        4
      Ohio State        4
2013  Louisville        6
      Michigan          3
      Syracuse          5
      Wichita State     0
2014  Florida           5
      Kentucky          8
      UConn             4
      Wisconsin         2
2015  Duke              8
      Kentucky          8
      Michigan State    4
      Wisconsin         2
2016  North Carolina    8
      Oklahoma          0
      Syracuse          8
      Villanova         7
2017  Gonzaga           4
      North Carolina    8
      Oregon            3
      South Carolina    2
2018  Kansas            6
      Loyola Chicago    0
      Michigan          4
      Villanova         5
2019  Auburn            3
      Michigan State    5
      Texas Tech        1
      Virginia          5
Name: RSCI Top 100, Length: 80, dtype: int64

In [33]:
#top 100 players recruited by all teams over the years of our data
team_ranking_count_total = team.groupby('Team')['RSCI Top 100'].count()
team_ranking_count_total.sort_values(ascending=False)

Team
North Carolina    41
Michigan State    36
Kansas            31
Kentucky          31
Duke              27
Florida           20
Syracuse          18
Villanova         16
UConn             16
Louisville        15
UCLA              14
Ohio State        10
Maryland           7
Uconn              7
Illinios           6
Memphis            6
Texas              5
Georgia Tech       5
Virginia           5
Arizona            5
Indiana            4
Gonzaga            4
Marquette          4
Wisconsin          4
Michigan           4
LSU                3
Michigan           3
Oregon             3
Georgetown         3
West Virginia      3
Auburn             3
South Carolina     2
Oklahoma           1
Oklahoma State     1
Texas Tech         1
VCU                1
Loyola Chicago     0
Wichita State      0
George Mason       0
Butler             0
Name: RSCI Top 100, dtype: int64

In [34]:
#top 100 players (their rankings) on teams in a given year
year_team_ranking_list = team.groupby(['Year','Team'])['RSCI Top 100'].count()
year_team_ranking_list

Year  Team
2000  Florida           6
      Michigan State    2
      North Carolina    3
      Wisconsin         0
2001  Arizona           5
      Duke              5
      Maryland          3
      Michigan State    4
2002  Indiana           4
      Kansas            7
      Maryland          4
      Oklahoma          1
2003  Kansas            5
      Marquette         4
      Syracuse          5
      Texas             5
2004  Duke              7
      Georgia Tech      5
      Oklahoma State    1
      Uconn             7
2005  Illinios          6
      Louisville        5
      Michigan State    7
      North Carolina    7
2006  Florida           4
      George Mason      0
      LSU               3
      UCLA              5
2007  Florida           5
      Georgetown        3
                       ..
2012  Louisville        4
      Ohio State        4
2013  Louisville        6
      Michigan          3
      Syracuse          5
      Wichita State     0
2014  Florida           5
      Kentucky          8
      UConn             4
      Wisconsin         2
2015  Duke              8
      Kentucky          8
      Michigan State    4
      Wisconsin         2
2016  North Carolina    8
      Oklahoma          0
      Syracuse          8
      Villanova         7
2017  Gonzaga           4
      North Carolina    8
      Oregon            3
      South Carolina    2
2018  Kansas            6
      Loyola Chicago    0
      Michigan          4
      Villanova         5
2019  Auburn            3
      Michigan State    5
      Texas Tech        1
      Virginia          5
Name: RSCI Top 100, Length: 80, dtype: int64

In [35]:
#team occurrences championships - a way to show just Natl. Title winners would be to A) Remove all 'no' from excel or
    # ask nate/TA how we can call just the 'yes' selection
year_team_ranking_count = team.groupby(['Year','Team'])['National Title Winner'].value_counts()
year_team_ranking_count

Year  Team            National Title Winner
2000  Florida         No                       8
      Michigan State  Yes                      8
      North Carolina  No                       8
      Wisconsin       No                       8
2001  Arizona         No                       8
      Duke            Yes                      8
      Maryland        No                       8
      Michigan State  No                       8
2002  Indiana         No                       8
      Kansas          No                       8
      Maryland        Yes                      7
      Oklahoma        No                       8
2003  Kansas          No                       8
      Marquette       No                       8
      Syracuse        Yes                      8
      Texas           No                       8
2004  Duke            No                       8
      Georgia Tech    No                       8
      Oklahoma State  No                       8
      Uconn           Yes                      8
2005  Illinios        No                       8
      Louisville      No                       8
      Michigan State  No                       8
      North Carolina  Yes                      8
2006  Florida         Yes                      8
      George Mason    No                       8
      LSU             No                       8
      UCLA            No                       8
2007  Florida         Yes                      8
      Georgetown      No                       8
                                              ..
2012  Kansas          No                       8
      Kentucky        Yes                      8
      Louisville      No                       8
      Ohio State      No                       8
2013  Louisville      Yes                      8
      Michigan        No                       8
      Syracuse        No                       8
      Wichita State   No                       8
2014  Florida         No                       8
      Kentucky        No                       8
      UConn           Yes                      8
      Wisconsin       No                       8
2015  Duke            Yes                      8
      Kentucky        No                       8
      Michigan State  No                       8
      Wisconsin       No                       8
2016  North Carolina  No                       8
      Oklahoma        No                       8
      Syracuse        No                       8
      Villanova       Yes                      8
2017  Gonzaga         No                       8
      North Carolina  Yes                      9
      Oregon          No                       8
      South Carolina  No                       8
2018  Kansas          No                       8
      Loyola Chicago  No                       8
      Michigan        No                       8
      Villanova       Yes                      8
2019  Auburn          No                       8
      Michigan State  No                       8
Name: National Title Winner, Length: 78, dtype: int64