In [2]:
#notebook to be used for cleaning and organizing data
%matplotlib notebook 
#can use inline if we prefer

In [3]:
import matplotlib.pyplot as plt
import pandas as pd

#pull and read rankings
rankings_excel = 'HighSchool_100_Rankings.xlsx'
rankings = pd.read_excel(rankings_excel)
#rankings.head() - test worked

#pull and read team data
team_excel = 'Team_Data.xlsx'
team = pd.read_excel(team_excel)
del team['Hometown']
#team.head() - test worked

In [4]:
#split hometown into two columns, rename and add back into rankings
hometown_split = rankings['Hometown'].str.split(', ',expand=True)
rankings['City'] = hometown_split[0]
rankings['State'] = hometown_split[1]
del rankings['Hometown']
rankings.head()

   Year  RSCI      Player Name Position         College         City State
0  2018     1     R.J. Barrett       SF            Duke    Montverde    FL
1  2018     2  Cameron Reddish       SG            Duke   Norristown    PA
2  2018     3    Nassir Little       SF  North Carolina      Orlando    FL
3  2018     4  Zion Williamson       PF            Duke  Spartanburg    SC
4  2018     5   Romeo Langford       SG         Indiana   New Albany    IN

In [54]:
#school data counts
schools = rankings.groupby('College')
schools_count = schools['College'].count()
schools_count.sort_values(ascending=False).head()

College
Kentucky          57
Duke              49
Kansas            37
North Carolina    36
UCLA              35
Name: College, dtype: int64

In [75]:
#team percent of year
year = rankings.groupby('Year')
rankings_year = year['Year'].count()
rankings_year

Year
2006     99
2007    100
2008    101
2009     99
2010    100
2011    100
2012    100
2013    101
2014    100
2015    100
2016    101
2017    100
2018    101
Name: Year, dtype: int64

In [76]:
#team count of year
school_year = rankings.groupby('College')['Year'].value_counts()
school_year.sort_values(ascending=False).head()

College         Year
Kentucky        2017    8
North Carolina  2006    6
Kentucky        2013    6
Duke            2017    6
                2011    6
Name: Year, dtype: int64

In [96]:
school_year_percent = (school_year / rankings_year)*100
school_year_percent['Kentucky']

Year
2017    8.000000
2013    5.940594
2009    5.050505
2010    5.000000
2016    4.950495
2018    4.950495
2011    4.000000
2012    4.000000
2014    4.000000
2015    4.000000
2006    3.030303
2007    2.000000
2008    1.980198
Name: Year, dtype: float64

In [83]:
#team percent of total
school_percent = (schools_count / len(rankings))*100
school_percent.sort_values(ascending=False).head()

College
Kentucky          4.377880
Duke              3.763441
Kansas            2.841782
North Carolina    2.764977
UCLA              2.688172
Name: College, dtype: float64

In [49]:
#school state count - shows how many were taken by each school per state
school_state = rankings.groupby('College')['State'].value_counts()
school_state.head()

College  State
Akron    PA        1
Alabama  AL       10
         GA        4
         FL        1
         KS        1
Name: State, dtype: int64

In [88]:
#team state percent of same team total
school_state_percent = (school_state / schools_count)*100
school_state_percent.head()
#to call a specific team use ['Team Name']

#team_df = pd.DataFrame({'Team Count': schools_count,'School_percent': school_percent,'Team State': team_state,'% of Team from State': team_state_percent})
#team_df

College  State
Akron    PA       100.000000
Alabama  AL        52.631579
         GA        21.052632
         FL         5.263158
         KS         5.263158
dtype: float64

In [95]:
count_per_school = (school_state / schools_count)
# count_per_school_str = count_per_school.str
# count_per_school.str.format('hi')

f'{0.5267:%}'

'52.670000%'

In [11]:
#positions count
position = rankings.groupby('Position')
position_count = position['Position'].count()
position_count.sort_values(ascending=False)

Position
PF    306
SG    301
SF    265
PG    227
C     188
CG     10
CF      5
Name: Position, dtype: int64

In [85]:
#position percent of total
position_percent = (position_count / len(rankings))*100
position_percent.sort_values(ascending=False)

Position
PF    23.502304
SG    23.118280
SF    20.353303
PG    17.434716
C     14.439324
CG     0.768049
CF     0.384025
Name: Position, dtype: float64

In [101]:
#position count of year
position_count_year = rankings.groupby('Position')['Year'].value_counts()
position_count_year.head()

Position  Year
C         2006    19
          2008    19
          2012    17
          2015    17
          2017    17
Name: Year, dtype: int64

In [100]:
#percentage of position in a given year
position_percent_year = (position_count_year/rankings_year)*100
position_percent_year.head()

Position  Year
C         2006    19.191919
          2008    18.811881
          2012    17.000000
          2015    17.000000
          2017    17.000000
Name: Year, dtype: float64

In [13]:
#state count
state = rankings.groupby('State')
state_count = state['State'].count()
state_count.sort_values(ascending=False).head()

State
CA    139
TX     94
GA     79
FL     72
VA     70
Name: State, dtype: int64

In [110]:
#state percent of total
state_percent = state_count / len(rankings)
state_percent.sort_values(ascending=False).head()

State
CA    0.106759
TX    0.072197
GA    0.060676
FL    0.055300
VA    0.053763
Name: State, dtype: float64

In [114]:
#count by state in a given year
state_year = rankings.groupby('Year')['State'].value_counts()
state_year.head()

Year  State
2006  CA       14
      TX        8
      NJ        7
      TN        7
      VA        6
Name: State, dtype: int64

In [116]:
#state percent in a given year
state_percent_year = state_year / rankings_year
state_percent_year.head()

Year  State
2006  CA       0.141414
      TX       0.080808
      NJ       0.070707
      TN       0.070707
      VA       0.060606
dtype: float64

In [53]:
#state count by team
state_count_team = rankings.groupby('State')['College'].value_counts()
state_count_team.head()

State  College
AL     Alabama          10
       Indiana           3
       Kentucky          2
       Connecticut       1
       Florida State     1
Name: College, dtype: int64

In [115]:
#city count
city = rankings.groupby('City')
city_count = city['City'].count()
city_count.sort_values(ascending=False).head()

City
Chicago            30
Mouth of Wilson    24
Memphis            19
Indianapolis       18
Henderson          17
Name: City, dtype: int64

In [213]:
#team data, reprinting for ease
team

,Player,Team,Year,Class,Pos,RSCI Top 100,Pts.,National Title Winner
0,Morris Peterson,Michigan State,2000,SR,F,NaN,16.8,Yes
1,Charlie Bell,Michigan State,2000,JR,G,NaN,11.5,Yes
2,Andre Hutson,Michigan State,2000,JR,F,NaN,10.2,Yes
3,A.J. Granger,Michigan State,2000,SR,F,NaN,9.5,Yes
4,Mateen Cleaves,Michigan State,2000,SR,G,NaN,12.1,Yes
5,Mike Chappell,Michigan State,2000,JR,G,NaN,5.9,Yes
6,Jason Richardson,Michigan State,2000,FR,G,14.0,5.1,Yes
7,Aloysius Anagonye,Michigan State,2000,FR,F,68.0,2.9,Yes
8,Mike Miller,Florida,2000,SO,F,13.0,14.1,No
9,Udonis Haslem,Florida,2000,SO,C,72.0,11.8,No
10,Donnell Harvey,Florida,2000,FR,C,1.0,10.1,No
11,Kenyan Weaks,Florida,2000,SR,G,NaN,10.0,No
12,Teddy Dupay,Florida,2000,SO,G,20.0,8.6,No
13,Brett Nelson,Florida,2000,FR,G,7.0,8.1,No
14,Brent Wright,Florida,2000,JR,F,NaN,8.3,No
15,Matt Bonner,Florida,2000,FR,F,38.0,4.8,No
16,Joseph Forte,North Carolina,2000,FR,G,4.0,16.7,No
17,Brendan Haywood,North Carolina,2000,JR,C,NaN,13.6,No
18,Jason Capel,North Carolina,2000,SO,F,10.0,12.3,No
19,Ed Cota,North Carolina,2000,SR,G,NaN,10.1,No
20,Kris Lang,North Carolina,2000,SO,C,22.0,8.4,No
21,Max Owens,North Carolina,2000,JR,G,NaN,7.4,No
22,Julius Peppers,North Carolina,2000,FR,F,NaN,4.5,No
23,Orlando Melendez,North Carolina,2000,NaN,NaN,NaN,1.5,No
24,Mark Vershaw,Wisconsin,2000,JR,F,NaN,11.8,No
25,Andy Kowske,Wisconsin,2000,JR,F,NaN,9.2,No
26,Jon Bryant,Wisconsin,2000,SR,G,NaN,8.2,No
27,Roy Boone,Wisconsin,2000,JR,G,NaN,6.1,No
28,Mike Kelley,Wisconsin,2000,JR,G,NaN,5.0,No
29,Duany Duany,Wisconsin,2000,SR,G,NaN,5.2,No
...,...,...,...,...,...,...,...,...
611,Xavier Tillman,Michigan State,2019,SO,F,83.0,10.1,NaN
612,Matt McQuaid,Michigan State,2019,SR,G,67.0,9.8,NaN
613,Kenny Goins,Michigan State,2019,SR,F,NaN,8.1,NaN
614,Aaron Henry,Michigan State,2019,FR,F,NaN,5.9,NaN
615,Joshua Langford,Michigan State,2019,JR,G,20.0,15.0,NaN
616,Kyle Ahrens,Michigan State,2019,JR,G,NaN,4.7,NaN
617,Jarrett Culver,Texas Tech,2019,SO,G,NaN,18.9,NaN
618,Davide Moretti,Texas Tech,2019,SO,G,NaN,11.6,NaN
619,Matt Mooney,Texas Tech,2019,SR,G,NaN,11.0,NaN
620,Tariq Owens,Texas Tech,2019,SR,F,NaN,8.9,NaN
621,Brandone Francis,Texas Tech,2019,SR,G,31.0,6.1,NaN
622,Kyler Edwards,Texas Tech,2019,FR,G,NaN,5.3,NaN
623,Deshawn Corprew,Texas Tech,2019,SO,F,NaN,5.3,NaN
624,Norense Odiase,Texas Tech,2019,SR,C,NaN,4.2,NaN
625,Kyle Guy,Virginia,2019,JR,G,32.0,15.2,NaN
626,De'Andre Hunter,Virginia,2019,SO,G,74.0,14.9,NaN
627,Ty Jerome,Virginia,2019,JR,G,46.0,13.3,NaN
628,Mamadi Diakite,Virginia,2019,JR,F,NaN,7.5,NaN
629,Braxton Key,Virginia,2019,JR,G,56.0,5.8,NaN
630,Kihei Clark,Virginia,2019,FR,G,NaN,4.4,NaN
631,Jay Huff,Virginia,2019,SO,F,61.0,4.5,NaN
632,Jack Salt,Virginia,2019,SR,C,NaN,3.9,NaN
633,Bryce Brown,Auburn,2019,SR,G,NaN,16.0,NaN
634,Jared Harper,Auburn,2019,JR,G,87.0,15.4,NaN
635,Chuma Okeke,Auburn,2019,SO,F,48.0,12.0,NaN
636,Samir Doughty,Auburn,2019,JR,G,NaN,7.2,NaN
637,Malik Dunbar,Auburn,2019,SR,G,NaN,6.8,NaN
638,Anfernee McLemore,Auburn,2019,JR,F,NaN,6.6,NaN
639,Austin Wiley,Auburn,2019,JR,C,NaN,7.1,NaN
640,Horace Spencer,Auburn,2019,SR,F,58.0,4.3,NaN

In [221]:
team_grade = team.groupby(['Team','Year'])['Class'].value_counts()
team_grade

Team           Year  Class
Arizona        2001  SO       3
                     SR       3
                     JR       2
Auburn         2019  JR       4
                     SR       3
                     SO       1
Butler         2010  JR       3
                     SO       3
                     SR       2
               2011  SR       3
                     JR       2
                     SO       2
                     FR       1
Duke           2001  SO       4
                     SR       2
                     FR       1
                     JR       1
               2004  SO       4
                     SR       2
                     FR       1
                     JR       1
               2010  SR       3
                     FR       2
                     JR       2
                     SO       1
               2015  FR       4
                     JR       2
                     SO       1
                     SR       1
Florida        2000  FR       3
                             ..
Villanova      2009  SR       3
                     JR       2
               2016  JR       3
                     FR       2
                     SR       2
                     SO       1
               2018  JR       4
                     FR       3
                     SO       1
Virginia       2019  JR       4
                     SO       2
                     FR       1
                     SR       1
West Virginia  2010  JR       3
                     SO       3
                     SR       2
Wichita State  2013  SR       3
                     FR       2
                     JR       2
                     SO       1
Wisconsin      2000  JR       5
                     SR       2
                     SO       1
               2014  JR       4
                     FR       2
                     SO       1
                     SR       1
               2015  SR       4
                     SO       3
                     JR       1
Name: Class, Length: 284, dtype: int64

In [211]:
#total grades in tournament
grade = team.groupby('Class').count()
grade

#team upperclassmen count by year
#team ranking in top 100 count by year
#team ranking in top 100 total

       Player  Team  Year  Pos  RSCI Top 100  Pts.  National Title Winner
Class
FR        126   126   126  126            90   126                    123
JR        193   193   193  193           107   193                    181
SO        157   157   157  157           106   157                    150
SR        164   164   164  164            62   164                    154

In [197]:
print(f'The Database has {len(team)} players')
freshmen = grade['FR']
sophomore = grade['SO']
junior = grade['JR']
senior = grade['SR']
print(f'There have been {freshmen} freshmen in the tournament since 2000.')
print(f'There have been {sophomore} sophomores in the tournament since 2000.')
print(f'There have been {junior} juniors in the tournament since 2000.')
print(f'There have been {senior} seniors in the tournament since 2000.')

The Database has 641 players
There have been 126 freshmen in the tournament since 2000.
There have been 157 sophomores in the tournament since 2000.
There have been 193 juniors in the tournament since 2000.
There have been 164 seniors in the tournament since 2000.

In [212]:
#count of grade/class in each year
grade_year = team.groupby('Year')['Class'].value_counts()
grade_year

Year  Class
2000  JR       11
      FR        7
      SR        7
      SO        6
2001  SO       11
      SR       11
      JR        7
      FR        3
2002  JR       13
      SR        9
      FR        5
      SO        4
2003  SO       12
      JR       10
      FR        6
      SR        4
2004  JR       12
      SR        9
      SO        8
      FR        3
2005  SR       13
      JR       12
      FR        4
      SO        3
2006  FR       11
      SO        9
      SR        7
      JR        5
2007  JR       12
      FR        8
               ..
2012  SR        7
      FR        6
2013  JR        9
      SO        9
      FR        8
      SR        6
2014  FR       10
      SO        8
      SR        8
      JR        6
2015  FR       10
      SO        8
      JR        7
      SR        7
2016  SR       11
      JR        8
      FR        7
      SO        6
2017  JR       10
      SR       10
      SO        7
      FR        6
2018  FR        9
      JR        9
      SO        7
      SR        7
2019  JR       12
      SR       10
      SO        7
      FR        3
Name: Class, Length: 80, dtype: int64

In [164]:
#team occurrences final four
team_finalfour = team.groupby('Team').count()/8
team_finalfour

,Player,Year,Class,Pos,RSCI Top 100,Pts.,National Title Winner
Team,,,,,,,
Arizona,1.000,1.000,1.000,1.000,0.625,1.000,1.000
Auburn,1.000,1.000,1.000,1.000,0.375,1.000,0.000
Butler,2.000,2.000,2.000,2.000,0.000,2.000,2.000
Duke,4.000,4.000,4.000,4.000,3.375,4.000,4.000
Florida,4.000,4.000,4.000,4.000,2.500,4.000,4.000
George Mason,1.000,1.000,1.000,1.000,0.000,1.000,1.000
Georgetown,1.000,1.000,1.000,1.000,0.375,1.000,1.000
Georgia Tech,1.000,1.000,1.000,1.000,0.625,1.000,1.000
Gonzaga,1.000,1.000,1.000,1.000,0.500,1.000,1.000
Illinios,1.000,1.000,1.000,1.000,0.750,1.000,1.000
Indiana,1.000,1.000,1.000,1.000,0.500,1.000,1.000
Kansas,5.000,5.000,5.000,5.000,3.875,5.000,5.000
Kentucky,4.000,4.000,4.000,4.000,3.875,4.000,4.000
LSU,1.000,1.000,1.000,1.000,0.375,1.000,1.000
Louisville,3.000,3.000,3.000,3.000,1.875,3.000,3.000
Loyola Chicago,1.000,1.000,1.000,1.000,0.000,1.000,1.000
Marquette,1.000,1.000,1.000,1.000,0.500,1.000,1.000
Maryland,1.875,1.875,1.875,1.875,0.875,1.875,1.875
Memphis,1.000,1.000,1.000,1.000,0.750,1.000,1.000
Michigan,1.000,1.000,1.000,1.000,0.500,1.000,1.000
Michigan,1.000,1.000,1.000,1.000,0.375,1.000,1.000
Michigan State,7.000,7.000,7.000,7.000,4.500,7.000,6.000
North Carolina,6.125,6.125,6.000,6.000,5.125,6.125,6.125
Ohio State,2.000,2.000,2.000,2.000,1.250,2.000,2.000
Oklahoma,2.000,2.000,2.000,2.000,0.125,2.000,2.000
Oklahoma State,1.000,1.000,1.000,1.000,0.125,1.000,1.000
Oregon,1.000,1.000,1.000,1.000,0.375,1.000,1.000
South Carolina,1.000,1.000,1.000,1.000,0.250,1.000,1.000
Syracuse,3.000,3.000,3.000,3.000,2.250,3.000,3.000
Texas,1.000,1.000,1.000,1.000,0.625,1.000,1.000
Texas Tech,1.000,1.000,1.000,1.000,0.125,1.000,0.000
UCLA,3.000,3.000,3.000,3.000,1.750,3.000,3.000
UConn,3.000,3.000,3.000,3.000,2.000,3.000,3.000
Uconn,1.000,1.000,1.000,1.000,0.875,1.000,1.000
VCU,1.125,1.125,1.125,1.125,0.125,1.125,1.125
Villanova,3.000,3.000,3.000,3.000,2.000,3.000,3.000
Virginia,1.000,1.000,1.000,1.000,0.625,1.000,0.000
West Virginia,1.000,1.000,1.000,1.000,0.375,1.000,1.000
Wichita State,1.000,1.000,1.000,1.000,0.000,1.000,1.000
Wisconsin,3.000,3.000,3.000,3.000,0.500,3.000,3.000

In [ ]:
#team occurrences championships