In [132]:
#notebook to be used for cleaning and organizing data
%matplotlib notebook 
#can use inline if we prefer

In [133]:
import matplotlib.pyplot as plt
import pandas as pd

#pull and read rankings
rankings_excel = 'HighSchool_100_Rankings.xlsx'
rankings = pd.read_excel(rankings_excel)
#rankings.head() - test worked

#pull and read team data
team_excel = 'Team_Data.xlsx'
team = pd.read_excel(team_excel)
del team['Hometown']
#team.head() - test worked

In [134]:
#split hometown into two columns, rename and add back into rankings
hometown_split = rankings['Hometown'].str.split(', ',expand=True)
rankings['City'] = hometown_split[0]
rankings['State'] = hometown_split[1]
del rankings['Hometown']
rankings.head()

   Year  RSCI      Player Name Position         College         City State
0  2018     1     R.J. Barrett       SF            Duke    Montverde    FL
1  2018     2  Cameron Reddish       SG            Duke   Norristown    PA
2  2018     3    Nassir Little       SF  North Carolina      Orlando    FL
3  2018     4  Zion Williamson       PF            Duke  Spartanburg    SC
4  2018     5   Romeo Langford       SG         Indiana   New Albany    IN

In [110]:
#school data counts
schools = rankings.groupby('College')
schools_count = schools['College'].count()
schools_count.sort_values(ascending=False).head()
#team percent of total
#team percent of year
#team count of year
#team state count
#team state percent of same team total

College
Kentucky          57
Duke              49
Kansas            37
North Carolina    36
UCLA              35
Name: College, dtype: int64

In [111]:
#positions count
position = rankings.groupby('Position')
position_count = position['Position'].count()
position_count.sort_values(ascending=False)
#position percent of total
#position percent of year

Position
PF    306
SG    301
SF    265
PG    227
C     188
CG     10
CF      5
Name: Position, dtype: int64

In [112]:
#state count
state = rankings.groupby('State')
state_count = state['State'].count()
state_count.sort_values(ascending=False).head()
#state percent of total
#state percent of year
#state count by team

State
CA    139
TX     94
GA     79
FL     72
VA     70
Name: State, dtype: int64

In [115]:
#city count
city = rankings.groupby('City')
city_count = city['City'].count()
city_count.sort_values(ascending=False).head()

City
Chicago            30
Mouth of Wilson    24
Memphis            19
Indianapolis       18
Henderson          17
Name: City, dtype: int64

In [ ]:
#team freshman count by year
#team freshman/sophmore count by year
#team upperclassmen count by year
#team ranking in top 100 count by year
#team ranking in top 100 total
#team occurrences final four
#team occurrences championships