In [ ]:
#notebook to be used for cleaning and organizing data
%matplotlib notebook #can use inline if we prefer

In [9]:
import matplotlib.pyplot as plt
import pandas as pd

rankings_excel = 'HighSchool_100_Rankings.xlsx'
rankings = pd.read_excel(rankings_excel, index_col=0)
rankings.head()

      RSCI      Player Name Position         Hometown         College
Year
2018     1     R.J. Barrett       SF    Montverde, FL            Duke
2018     2  Cameron Reddish       SG   Norristown, PA            Duke
2018     3    Nassir Little       SF      Orlando, FL  North Carolina
2018     4  Zion Williamson       PF  Spartanburg, SC            Duke
2018     5   Romeo Langford       SG   New Albany, IN         Indiana