In [2]:
#notebook to be used for cleaning and organizing data
%matplotlib notebook 
#can use inline if we prefer

In [3]:
import matplotlib.pyplot as plt
import pandas as pd

#pull and read rankings
rankings_excel = 'HighSchool_100_Rankings.xlsx'
rankings = pd.read_excel(rankings_excel)
#rankings.head() - test worked

#pull and read team data
team_excel = 'Team_Data.xlsx'
team = pd.read_excel(team_excel)
del team['Hometown']
#team.head() - test worked

In [4]:
#split hometown into two columns, rename and add back into rankings
hometown_split = rankings['Hometown'].str.split(', ',expand=True)
rankings['City'] = hometown_split[0]
rankings['State'] = hometown_split[1]
del rankings['Hometown']
rankings.head()

   Year  RSCI      Player Name Position         College         City State
0  2018     1     R.J. Barrett       SF            Duke    Montverde    FL
1  2018     2  Cameron Reddish       SG            Duke   Norristown    PA
2  2018     3    Nassir Little       SF  North Carolina      Orlando    FL
3  2018     4  Zion Williamson       PF            Duke  Spartanburg    SC
4  2018     5   Romeo Langford       SG         Indiana   New Albany    IN

In [15]:
#school data counts
schools = rankings.groupby('College')
schools_count = schools['College'].count()
schools_count.sort_values(ascending=False).head()

College
Kentucky          57
Duke              49
Kansas            37
North Carolina    36
UCLA              35
Name: College, dtype: int64

In [48]:
#team percent of total
school_percent = schools_count / len(rankings)
school_percent.sort_values(ascending=False).head()
#team percent of year
#team count of year

College
Kentucky          0.043779
Duke              0.037634
Kansas            0.028418
North Carolina    0.027650
UCLA              0.026882
Name: College, dtype: float64

In [49]:
#school state count - shows how many were taken by each school per state
school_state = rankings.groupby('College')['State'].value_counts()
school_state.head()

College  State
Akron    PA        1
Alabama  AL       10
         GA        4
         FL        1
         KS        1
Name: State, dtype: int64

In [50]:
#team state percent of same team total
school_state_percent = school_state / schools_count
school_state_percent.head()
#to call a specific team use ['Team Name']

#team_df = pd.DataFrame({'Team Count': schools_count,'School_percent': school_percent,'Team State': team_state,'% of Team from State': team_state_percent})
#team_df

College  State
Akron    PA       1.000000
Alabama  AL       0.526316
         GA       0.210526
         FL       0.052632
         KS       0.052632
dtype: float64

In [11]:
#positions count
position = rankings.groupby('Position')
position_count = position['Position'].count()
position_count.sort_values(ascending=False)

Position
PF    306
SG    301
SF    265
PG    227
C     188
CG     10
CF      5
Name: Position, dtype: int64

In [29]:
#position percent of total
position_percent = position_count / len(rankings)
position_percent.sort_values(ascending=False)

Position
PF    0.235023
SG    0.231183
SF    0.203533
PG    0.174347
C     0.144393
CG    0.007680
CF    0.003840
Name: Position, dtype: float64

In [51]:
#position count of year
position_count_year = rankings.groupby('Position')['Year'].value_counts()
position_count_year.head()

Position  Year
C         2006    19
          2008    19
          2012    17
          2015    17
          2017    17
Name: Year, dtype: int64

In [13]:
#state count
state = rankings.groupby('State')
state_count = state['State'].count()
state_count.sort_values(ascending=False).head()

State
CA    139
TX     94
GA     79
FL     72
VA     70
Name: State, dtype: int64

In [52]:
#state percent of total
state_percent = state_count / len(rankings)
state_percent.sort_values(ascending=False).head()
#state percent of year

State
CA    0.106759
TX    0.072197
GA    0.060676
FL    0.055300
VA    0.053763
Name: State, dtype: float64

In [53]:
#state count by team
state_count_team = rankings.groupby('State')['College'].value_counts()
state_count_team.head()

State  College
AL     Alabama          10
       Indiana           3
       Kentucky          2
       Connecticut       1
       Florida State     1
Name: College, dtype: int64

In [115]:
#city count
city = rankings.groupby('City')
city_count = city['City'].count()
city_count.sort_values(ascending=False).head()

City
Chicago            30
Mouth of Wilson    24
Memphis            19
Indianapolis       18
Henderson          17
Name: City, dtype: int64

In [44]:
#team freshman count by year
#team freshman/sophmore count by year
#team upperclassmen count by year
#team ranking in top 100 count by year
#team ranking in top 100 total
#team occurrences final four
#team occurrences championships